<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container mt-5">
      <!-- Login Form -->
      <form
        class="col-md-6 mx-auto card p-4 shadow-lg"
        method="post"
        enctype="multipart/form-data"
      >
        <!-- Application Title -->
        <h1 class="text-center">
          <span class="text-success">Calendar App</span>
        </h1>

        {% csrf_token %}
        <!-- CSRF token for security -->

        <!-- Login Heading -->
        <h3 class="text-center">Login</h3>
        <hr />

        <!-- Display Error/Success Messages -->
        {% if messages %}
        <div class="alert alert-primary" role="alert">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>
        {% endif %}

        <!-- Username Input Field -->
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="Enter username"
            required
          />
        </div>

        <!-- Password Input Field -->
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Password"
            required
          />
        </div>

        <!-- Registration Link -->
        <p class="text-center">
          Don't have an account? <a href="/register/">Register</a>
        </p>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </body>
</html>
