<!-- register.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>

    <form method="post">
      {% csrf_token %}
      <div>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" required />
      </div>
      <div>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" required />
      </div>
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
      </div>
      <button type="submit">Register</button>
    </form>

    <p>
      Already have an account? <a href="{% url 'login_page' %}">Login here</a>
    </p>
  </body>
</html>
